body {
    background-color: white;
    color: #0A0A0A;
}

main a:link {
    color: blue;
}

main a:visited {
    color: purple;
}

main a:active {
    color: blue;
}

main a:hover {
    color: blue;
}

aside a {
    color: #0A0A0A;
}
