body {
    background-color: black;
    color: rgb(33, 228, 33);
    font-family: "Monaco", "Lucida Console", monospace;
}

main a:link {
    color: #00a2ff;
}

main a:visited {
    color: pink;
}

main a:active {
    color: #00a2ff;
}

main a:hover {
    color: #00a2ff;
}

aside a {
    color: rgb(33, 228, 33);
}
