body {
    background-color: #242526;
    color: lightgray;
}
 a:link {
    color: #00a2ff;
}

a:visited {
    color: pink;
}

a:active {
    color: #00a2ff;
}

a:hover {
    color: #00a2ff;
}

#nav-wrapper a {
    color: lightgray;
}
