#nav-wrapper {
    font-size: calc(34px - 1vw);
    grid-row-start: 1;
    grid-column-start: 1;
    position: fixed;
    width: 180px;
    overflow-y: auto;
    overflow-x: hidden;
  }


  aside ul {
    list-style: none;
    padding: 0;
  }

  aside li {
    padding: 0 0px 4px 1vw;
  }

  aside a {
    text-decoration: none;
    text-wrap: nowrap;
  }
