body {
  font-family: "Inter", sans-serif;
  font-size: calc(37px - 1.3vw);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

mini-md {
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
}

.content {
  grid-row-start: 1;
  grid-column-start: 1;
  margin: 10px 0 0 200px;
}

main a:link {
  text-decoration: none;
}

main a:visited {
  text-decoration: none;
}

main a:active {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

#nav-wrapper {
  font-size: calc(34px - 1vw);
  grid-row-start: 1;
  grid-column-start: 1;
  position: fixed;
  width: 180px;
  overflow-y: auto;
  overflow-x: hidden;
}


aside ul {
  list-style: none;
  padding: 0;
}

aside li {
  padding: 0 0px 4px 1vw;
}

aside a {
  text-decoration: none;
  text-wrap: nowrap;
}
